# 🛡️ EJEMPLO DE CONFIGURACIÓN DE LLAVE (SAGON ON)
# Instrucciones:
# 1. Copia este archivo como 'keystore.properties' (No se subirá a Git)
# 2. Rellena los datos de tu archivo .jks
# 3. Asegúrate de tener el archivo .jks en la raíz del módulo androidApp

storePassword=tu_password_aqui
keyPassword=tu_password_aqui
keyAlias=tu_alias_aqui
storeFile=release.keystore
